@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-family: sans-serif;
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    padding: 20px 30px;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(74, 200, 223, 0.23) 0px 6px 6px;
} 
nav h1 {
    font-size: 45px;
     color: #00FFFF;
     font-family: Georgia, 'Times New Roman', Times, serif;
      color: transparent;
    background-clip:text;
    background-image: linear-gradient(to right,aqua,white,white,aqua);
}
.h1p{
    font-size: 55px;
}
nav i
{
    font-size: 25px;
     color: #00FFFF;
}
nav .subNav {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
    transition: all 1s;
}
nav .subNav a {
    text-decoration: none;
    color: #00FFFF;
    font-size: 23px;
    /* background-color: wheat; */
    padding: 5px;
    font-family: sans-serif;
    position: relative;
}
nav .subNav a::before {
    z-index: -1;
    content: "";
    height: 0px;
    /* width: 100%; */
    position: absolute;
    background-image: linear-gradient(to right,white,aqua);
    left: 0px;
    bottom: 0px;
    transition: all 1s;
}
nav .subNav a::after {
    z-index: -1;
    content: "";
    height: 0px;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to right,white,aqua);
    right: 0px;
    top: 0px;
    transition: all 1s;
}
nav .subNav a:hover::before, nav .subNav a:hover::after {
    height: 100%;
    border-radius: 10px;
    color: black;
}
.subNav a:hover{
    color: black;
}
input:checked~.subNav
{
    left: 60%;
}
nav label
{
    display: none;
}
input
{
    display: none;
}
.my-carrier
{
    margin-top: 100px;
    padding: 100px;
}
.my-carrier h1
{
    font-size: 50px;
}
.my-carrier h1:last-child
{
    color: #00FFFF;
   
}
.overall{
    height: 100vh;
    padding-top: 100px;
}
.container1{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.info1{
    padding: 30px;
    width: 70%;
    color: transparent;
    font-size: 35px;
}
.pos{
    background-clip: text;
    background-image: linear-gradient(to right, white, aqua, aqua);
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fe{
    /* color: aqua; */
}
.info2{
    padding-top: 40px;
    height: 400px;
    width: 400px;
}
.round1{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    animation-name: r1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: all 2s;
    overflow: hidden;
    box-shadow: 1px 1px 20px aqua;
    position: relative;
}
@keyframes r1{
    0%,100%{
        border-radius: 40% 60% 70% 30% / 30% 40% 60% 70%;
        background-image: linear-gradient(to bottom,black,grey);
    }
    50%{
        border-radius: 70% 30% 40% 60% / 60% 70% 30% 40%;
        background-image: linear-gradient(to top,black,grey);
    }
}
/* .round2{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: r2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition: all 2s;
}
@keyframes r2{
    from{
        /* transform: rotateZ(180deg); */
    /* }
} */
/* .round3{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: lightskyblue;
    position: relative;
}  */
.me{
    position: absolute;
    /* top: -50px; */
    /* left: -20px; */
    height: 100%;
    width: 100%;
    animation-name: mee;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: all 1s;
    filter: drop-shadow(1px 1px 15px black);
}
@keyframes mee{
    0%{
        top: 0;
    }
    50%{
        top: 15px;
    }
    100%{
        top: 0px;
    }
}
.info3{
    font-size: 23px;
    line-height: 1.5;
    color: white;
}
.mn{
    text-align: center;
    color: transparent;
    letter-spacing: 8px;
    background-clip: text;
    background-image: linear-gradient(to right, white,white, white, aqua, aqua, aqua)
}
.container2{
    padding-bottom: 30px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    gap: 15px;
    padding-top: 15px;
    color: aqua;
}
.whatsapp{
    position: relative;
    transition: all 1s;
}
.whatsapp:hover{
    filter: drop-shadow(1px 1px 20px aqua);
    cursor: pointer;
}
.instagram{
    position: relative;
    transition: all 0.3s;
}
.instagram:hover{
    filter: drop-shadow(1px 1px 20px aqua);
    cursor: pointer;
}
.facebook{
    position: relative;
    transition: all 0.5s;
}
.facebook:hover{
    filter: drop-shadow(1px 1px 20px aqua);
    cursor: pointer;
}
.twitter{
    position: relative;
    transition: all 0.5s;
}
.twitter:hover{
    filter: drop-shadow(1px 1px 20px aqua);
    cursor: pointer;
}
.linkdin{
    position: relative;
    transition: all 0.5s;
}
.linkdin:hover{
    filter: drop-shadow(1px 1px 20px aqua);
    cursor: pointer;
}
.mail{
    text-align: center;
    color: aqua;
    padding-top: 20px;
    word-spacing: 3px;
    letter-spacing: 2px;
}
@media only screen and (max-width:950px){
    .container1{
        display: flex;
        gap: 0px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media only screen and (max-width:650px)
{
    .container1{
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .info1{
        width: 100%;
        font-size: 20px;
        padding: 10px;
    }
    .info2{
        height: 280px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    margin-left: 0;
    padding-bottom: 40px;
    /* margin-top: 20px; */
    }
    .info3{
        font-size: 17px;
    }
    .round1{
        height: 250px;
        width: 250px;
    }
    .round2{
        height: 200px;
        width: 200px;
    }
    .round3{
        height: 150px;
        width: 150px;
    }
    .icon{
        font-size: 40px;
        gap: 10px;
    }
    .mn{
        letter-spacing: 3px;
    }
    .h1p{
        font-size: 40px;
    }
    nav h1{
        font-size: 30px;
    }
}
@media screen and (max-width:900px){

    
    nav .subNav{
        position: fixed;
        background-color: black;
        left: 110%;
        top: 67px;
        width: 40%;
        /* height: 50vh; */
        border-radius: 5px;
        flex-direction: column;
        justify-content: start;
        padding-top: 40px;
        
    }
    .subNav a 
    {
        color: white;
    }
    nav label
    {
        display: block;
        color: white;
    }
}
@media only screen and (min-width:300px) and (max-width:500px){
}